<footer class="page-footer bg-warning text-center text-white container-fluid">
  <div class="container p-1 pb-0">
    <section class="mb-1">
      <a
        class="btn btn-outline-dark btn-floating m-1"
        href="https://www.linkedin.com/in/jhonsgranada/"
        target="_blank"
        role="button"
        ><i class="fab fa-linkedin-in"
          ><img src="../../../../assets/icon/linkedin_icon.svg" alt="" /></i
      ></a>

      <a
        class="btn btn-outline-dark btn-floating m-1"
        href="https://github.com/granadalook"
        target="_blank"
        role="button"
        ><i class="fab fa-github"
          ><img src="../../../../assets/icon/github_icon.svg" alt="" /></i
      ></a>
    </section>
  </div>

  <div
    class="text-center p-3"
    style="background-color: rgba(148, 145, 145, 0.2)"
  >
    Powered by Jhon Stiven Granada A - tiven17.jsga@gmail.com
  </div>
</footer>
